<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//Mybatis 3.0 Mapper//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coresec.admin.mapper.canonicalMapper">

	<sql id="search">
		<if test="keyword != null">
			where f_title like CONCAT('%',#{keyword},'%')
		</if>
	</sql>
	<select id="selectList" resultType="Canonical">
		select * from tbl_history 
		<include refid="search"></include>
		order by f_id desc limit #{pageStart}, #{perPageNum}
	</select>

	<select id="selectOne" resultType="Canonical">
		select *
		from tbl_history where
		f_id=#{f_id} order by
		f_id desc
	</select>
	
	<select id="selectOneHistory_s" resultType="Canonical_s">
		select * from tbl_history_s where f_hid=#{f_hid} order by f_id asc
	</select>

	<insert id="insert">
		insert into
		tbl_history(f_title,f_date) values(#{f_title},#{f_date})
	</insert>
	
	<insert id="insertItem">
		insert into tbl_history_s(f_hid,f_comment) values(#{f_hid},#{f_comment})
	</insert>

	<update id="update">
		update tbl_history set f_title=#{f_title},f_date=#{f_date} where f_id=#{f_id}
	</update>
	
	

	<update id="updateCanonical_s">
		update tbl_history_s set f_comment=#{f_comment}	where f_id=#{f_id}
	</update>

	<delete id="delete">
		delete from tbl_history where f_id=#{f_id}
	</delete>
	
	<delete id="deleteCanonical_s">
		delete from tbl_history_s where f_hid=#{f_hid}
	</delete>

	<select id="getCount" resultType="Integer">
		select count(*) from tbl_history 
		<include refid="search"></include>
	</select>
	
	<select id="getF_id" resultType="Integer">
		select max(f_id) from tbl_history
	</select>

	<!-- 새로운 뱃지 -->
	<select id="getBadget" resultType="Integer">
		select count(*) from
		tbl_history where f_wdate between curdate() - interval 7
		day and
		curdate()
	</select>

	<select id="getCategoryName" resultType="String">
		select f_ca_name from
		tbl_category where f_ca_id=#{f_ca_id}
	</select>

	<select id="getSubject" resultType="String">
		select f_subject from tbl_education where f_id=#{f_eid}
	</select>

	<select id="getDate" resultType="String">
		select f_start,f_end from tbl_education_s where f_id=#{f_sid}
	</select>

</mapper>