<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//Mybatis 3.0 Mapper//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coresec.admin.mapper.categoryMapper">
	<select id="selectListCategory" resultType="Category">
		select
		f_ca_id,f_ca_name from tbl_category
		<if test="keyword !=null">
		where f_ca_name=#{keyword}
		</if>
		limit #{pageStart}, #{perPageNum}
	</select>

	<select id="selectOneCategory" resultType="Category">
		select
		f_ca_id,f_ca_name from tbl_category where f_id=#{f_id}
	</select>

	<insert id="insertCategory">
		insert into tbl_category(f_ca_id,f_ca_name,f_comment)
		values(#{f_ca_id},#{f_ca_name},#{f_comment})
	</insert>

	<update id="updateCategory">
		update tbl_category set
		f_ca_name=#{f_ca_name},f_comment=#{f_comment} where f_id=#{f_id} where
		f_id=#{f_id}
	</update>

	<delete id="deleteCategory" parameterType="Integer">
		delete from
		tbl_category f_id=#{f_id}
	</delete>

	<select id="countsCategory" resultType="Integer">
		select count(*) from
		tbl_category;
	</select>

</mapper>