<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//Mybatis 3.0 Mapper//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coresec.admin.mapper.surveyMapper">

	<sql id="search">
		<if test="keyword != null">
			where f_subject like CONCAT('%',#{keyword},'%')
		</if>
	</sql>
	<select id="selectList" resultType="Survey">
		select * from tbl_survey 
		<include refid="search"></include>

		order by
		f_wdate desc limit #{pageStart}, #{perPageNum}
	</select>

	<select id="selectOne" resultType="Survey">
		select
		*
		from tbl_survey where
		f_id=#{f_id} order by
		f_id desc
	</select>
	<insert id="insertItem">
	insert into tbl_survey_items(f_item,f_uid) values(#{f_item},#{f_uid}),
	</insert>
	
	<insert id="insertIp">
	insert into tbl_survey_ip(f_uid,f_ip) values(#{f_uid},#{f_ip})
	</insert>
	
	<select id="getFid" resultType="int">
	select max(f_id) from tbl_survey;
	</select>

	<insert id="insert">
		insert into
		tbl_survey(f_subject,f_use,f_start,f_end,f_items)
		values(#{f_subject},#{f_use},#{f_start},#{f_end},#{f_items})
	</insert>

	<update id="update">
		update tbl_survey set f_skin=#{f_skin},
		f_board_name=#{f_board_name},f_category=#{f_category},f_comment_img_width=#{f_comment_img_width},f_one_page_num=#{f_one_page_num},f_ip_view=#{f_ip_view},f_upload_num=#{f_upload_num},f_comment_use=#{f_comment_use},f_reply_use=#{f_reply_use},f_file_use=#{f_file_use},f_hidden_use=#{f_hidden_use},f_write=#{f_write},f_read=#{f_read},f_edit=#{f_edit},f_delete=#{f_delete},f_reply=#{f_reply},f_comment=#{f_comment},f_comment_del=#{f_comment_del},f_link=#{f_link},f_top_comment=#{f_top_comment},f_bottom_comment=#{f_bottom_comment}
		where f_id=#{f_id}
	</update>

	<delete id="delete">
		delete from tbl_survey where f_id=#{f_id}
	</delete>
	<delete id="deleteItems">
		delete from tbl_survey_items where f_uid=#{f_uid}
	</delete>

	<select id="getCount" resultType="Integer">
		select count(*) from tbl_survey 
		<include refid="search"></include>
	</select>

	<!-- 새로운 뱃지 -->
	<select id="getBadget" resultType="Integer">
		select count(*) from
		tbl_survey where f_wdate between curdate() - interval 7
		day and
		curdate()
	</select>

	<select id="getCategoryName" resultType="String">
		select f_ca_name from
		tbl_category where f_ca_id=#{f_ca_id}
	</select>

	<select id="getSubject" resultType="String">
		select f_subject from tbl_education where f_id=#{f_eid}
	</select>

	<select id="getDate" resultType="String">
		select f_start,f_end from tbl_education_s where f_id=#{f_sid}
	</select>
	
	
	<select id="applyForSurvey" resultType="Survey">
	<![CDATA[
		select * from tbl_survey where f_start <= (select now()) and f_end >= (select now()) order by f_id asc
	]]>
	</select>
	
	
	<select id="applyForSurveyItems" resultType="Survey_items">
	<![CDATA[
		select * from tbl_survey_items where f_uid=#{f_uid}
	]]>
	</select>
	
	<select id="getResult" resultType="survey">
		select * from
	</select>
	
	<select id="updateCount">
		update tbl_survey_items set f_count=f_count+1 where f_id=#{f_id}
	</select>
	
	<select id="getCountByFuid" resultType="int">
		select sum(f_count) from tbl_survey_items where f_uid=#{f_uid}
	</select>
	
	<select id="getCountByFid" resultType="int">
		select sum(f_count) from tbl_survey_items where f_id=#{f_id}
	</select>
	
	<select id="getItemsByFuid" resultType="Survey_items">
		select * from tbl_survey_items where f_uid=#{f_uid}
	</select>
	
	

</mapper>